@import url('https://fonts.googleapis.com/css?family=Arimo');
.top-menu {
	position: fixed;
	background: rgba(34,34,34,.2);
	width: 100%;
	margin-top: -80px;
	z-index: 5;
}

body {
	margin: 0;
}
.menu-main {
	padding: 0px;
	margin: 0px;
}

.top-menu {
	position: fixed;
	background: #F5F6FA;
	width: 100%;
}
.menu-main:after {
	content: "";
	display: table;
	clear: both;
}

.menu-main li {
	list-style-type: none;
}
.menu-main ul {
	margin-left:0px!important;
    padding-left: 0px!important;
}
.left-item {float: left;}
.right-item {float: right;}
.navbar-logo {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.menu-main a {
	text-decoration: none;
	display: block;
	line-height: 80px;
	padding: 0 20px;
	font-size: 18px;
	letter-spacing: 2px;
	font-family: 'Arimo', sans-serif;
	font-weight: bold;
	color: #424347;
	transition: .3s linear;
}
.menu-main a:hover {background: rgba(0,0,0,.3);}
@media (max-width: 830px) {
	.menu-main {
		padding-top: 90px;
		text-align: center;
	}
	.navbar-logo {
		position: absolute;
		left: 50%;
		top: 10px;
		transform: translateX(-50%);
	}
	.menu-main li {
		float: none;
		display: inline-block;
		list-style-type: none;
	}
	.menu-main a {
		line-height: normal;
		padding: 20px 15px;
		font-size: 16px;
	}
	.top-menu {
		position: fixed;
		background: #F5F6FA;
		width: 100%;
		margin-top: -148px;
	}
		#bgpu {
display:none;
}
}
@media screen and (max-width: 630px) {
	.menu-main li {display: block;}
	.top-menu {
		position: fixed;
		background: #F5F6FA;
		width: 100%;
		margin-top: -322px;
	}
	#bgpu {
display:none;
}
}